
body {
    background-color: #dedddd;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}


nav{
    background-color:#393939;
}

.button {
    color: #393939
}

p {
    color:#393939;
    font-family: verdana;
}

h4 {
    color:#393939;
    font-family: verdana;
}
