.nav-link {
    color:#f7adcd
  }
.navbar-brand {
    color: #f7adcd
  }
.carousel-caption {
    bottom: 0px;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh; /* Adjust based on preference */
}



.container-sm {
    background-color: #393939;
    text-align: center;
    margin-top: 10px;
    color:#f7adcd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    background-color: #393939;
    text-align: center;
    color:#f7adcd;
    flex:1;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accordion-button{
    background-color: #393939;
    color:#f7adcd;
    border:#727272;
}

.accordion-button:not(.collapsed) {
    background-color:#393939;
    color:#f7adcd;

}

.accordion-collapse {
    background-color:#a2a2a2;
}



.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-button:active {
    box-shadow: none;
}

.table-custom {
    background-color: #f7adcd;
    color: #393939;
}
.table-custom th {
    background-color:#727272;
    color:#f7adcd
}

.table-custom td {
    background-color: #727272;
    color: white;
}
body {
    background-color: #727272;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
footer {
    background-color: #393939;
    margin-top: auto;
    height: auto;
}


nav{
    background-color:#393939;
}

.button {
    color: #393939
}
.card {
    background-color: #393939;
    text-align: center;
    margin-top: 10px;
    color: #f7adcd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}x



h4 {
    color:#f7adcd
}
